* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: left; /* Para alinhar os textos do formulário à esquerda */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* Centraliza o título no topo do formulário */
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"], input[type="button"] {
    width: 48%;
    padding: 10px;
    margin: 5px 1%;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #218838;
}

/* Botão limpar estilizado */
input[type="button"] {
    background-color: #356adc;
}

input[type="button"]:hover {
    background-color: #2850b0;
}

div {
    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 100px;
    margin-bottom: 10px;
}

#texto {
    font-size: 18px;
    color: #555;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    input[type="submit"], input[type="button"] {
        width: 100%;
        margin-bottom: 10px;
    }
}
