* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: left;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #356adc;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="number"]:focus {
    border-color: #356adc;
    box-shadow: 0 0 5px rgba(53, 109, 220, 0.5);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 0.2px;
}

button {
    width: 100px; /* Largura fixa para os botões */
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

button[type="submit"] {
    background-color: #28a745;
}

button[type="submit"]:hover {
    background-color: #218838; 
    transform: scale(1.05); 
}

button[type="button"] {
    background-color: #356adc; 
}

button[type="button"]:hover {
    background-color: #2850b0; 
    transform: scale(1.05); 
}

div {
    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 100px;
    margin-bottom: 10px;
}

#texto {
    font-size: 18px;
    color: #555;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    input[type="submit"], input[type="button"] {
        width: 100%; /* Botões ocupam toda a largura */
        margin-bottom: 10px;
    }
}
